body {
  font-family: Roboto, sans-serif;
  background-color: #fff;
  color: #434455;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1158px;
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

/*HEADER*/
.header-class {
  display: flex;
}

.container-menu {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}

.nav-conteiner {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-conteiner li {
  display: inline-block;
  margin-right: 10px;
}

.contacts {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.menu-contacts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

.menu-contacts li {
  display: inline-block;
  margin-right: 10px;
}

/*Logo Style*/
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}

.logo-link {
  color: #2e2f42;
}

.logo-link:hover,
.logo-link:focus {
  color: #404bbf;
}

.text-logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

/*Nav Style*/
.nav-list {
  display: flex;
  gap: 40px;
}

.link-nav {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

/*Address Style*/
.contacts {
  font-style: normal;
}

.link-contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  gap: 40px;
}

.link-contacts:hover,
.link-contacts:focus {
  color: #404bbf;
}

.link-contacts-menu {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.link-contacts-menu:hover,
.link-contacts-menu:focus {
  color: #404bbf;
}

/*HERO*/
.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*OUR POSITIVE QUALITIES*/
.sectoin-title {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.list-title {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.list-text {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*OUR TEAM*/
.our-team {
  background-color: #f4f4fd;
}

.list-our-team {
  background-color: #ffffff;
}

/*FOOTER*/
.end {
  background-color: #2e2f42;
}

.end-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.end-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
